---
layout: default
---

{% include header.html %}

<div class="blog">
    <h1>Chapter Posts:</h1>
    <ul>

        {% for post in site.posts %}
       
        
        <li>Capítulo <span class="date">{{ post.date | date: '%y' }}</span>: <a href="{{ post.url }}">{{ post.title }}</a>
             
        </li>
        
        
        {% endfor %}
        </ul>
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1FKXBNy38FE" frameborder="0" allowfullscreen></iframe>
        
</div>
